body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(247, 220, 181);
}
h1 {
  text-align: center;
}
form {
  display: flex;
  gap: 20px;
  align-items: center;
}
input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: ghostwhite;
  outline: none;
}
button {
  border: none;
  padding: 5px 18px;
  background-color: lemonchiffon;
  color: rgb(20, 26, 18);
  transition: 0.5s;
}
button:hover {
  background-color: chartreuse;
  color: red;
  border-radius: 20px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
p {
  color: brown;
  font-size: 25px;
}
span {
  font-weight: bold;
}
.card {
  flex-grow: 1;
  border: 2px solid black;
  width: 160px;
  text-align: center;
  background-color: azure;
  border-radius: 8px;
}
i {
  padding: 10px 50px;
  font-size: 60px;
  color: dimgrey;
}
@media only screen and (max-width: 820px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 90%;
  }
}
@media only screen and (max-width: 467px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 90%;
  }
  form {
    flex-direction: column;
  }
}
